#header {
    background-color: black;
    padding: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:white;
}
.Botao{
    border-radius: 8px;
    background-color: #808080;
}
.email{
    background-color: black;
    border-top: black;
    border-right: black;
    border-left: black;
}
#footer{
    background-color: black;
    color: white;
}
body{
    background-image: linear-gradient(white,black) ;
}
.p1{
    margin:20px;
    color: black;
}
.img{
    margin:20px;
}
